<FilesMatch "(chrome|gecko|google-gears|internet-explorer|opera|webkit)">
 ForceType image/png
</FilesMatch>
<FilesMatch "(authors|conformance-checkers|tools|browsers)">
 ForceType image/svg+xml
</FilesMatch>
